<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is the prototypeD blockchain example App.</p>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
