<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is the prototypeD blockchain example App.</p>
    <p>eCommerce Payment <a href="payment">demo app.</a></p>
    <p>Milestone Payment <a href="milestone">demo app.</a></p>
    <p>Registration Token <a href="registration">demo app.</a></p>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
