<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>prototypeD blockchain example app</h3>
        <p>In our time <a target="_blank" href="https://sailsjs.com/studio">building apps for customers</a>, we've found ourselves re-rolling some of the same key features over and over again between projects.  So we picked some of the things that kept popping up, implemented our own opinionated solutions for them, and then included it all in this free and open-source starter app.  We hope it helps you as much as it helps us!</p>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="col-sm feature">
            <div class="icon">
              <i class="fa fa-lock"></i>
            </div>
            <h4>Authentication</h4>
            <p class="text-muted">To start using the sample apps please <a href="/signup">sign up</a>, if you already have signed up you may <a href="/login">login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
