<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>prototypeD blockchain example app</h3>
        <p>This app demonstrates several features of using a blockchain on a website.</p>
        <p>This app uses the MetaMask Chrome browser plug-in.  To download and install, visit the <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en" target="_blank">Chrome Web Store</a></p>
        <p>This app uses the Ethereum Rinkeby Test Network.  To get some Eth to test with you may visit the <a href="https://faucet.rinkeby.io/" target="_blank">Rinkeby Faucet</a> or get some from your instructor.</p>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="col-sm feature">
            <div class="icon">
              <i class="fa fa-lock"></i>
            </div>
            <h4>Authentication</h4>
            <p class="text-muted">To start using the sample apps please <a href="/signup">sign up</a>, if you already have signed up you may <a href="/login">login</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
