<div id="reservation">
  <div class="container">
    <h1>Reservation demo</h1>
    <hr/>
    <h3>Using an Ethereum ERC20 token for a reservation system.</h3>
    <hr/>
    <div class="buttons">
      <p>
      	 Reserve a resource using a PTD token.  Your instructor can send you PTD tokens to your MetaMask wallet.
         <button class="btn btn-outline-info ml-2" @click="clickOpenReservationModalButton()">Demo</button>
      </p>
    </div>
  </div>

  <modal class="example-modal" v-if="reservationModalVisible" @close="closeReservationModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">prototypeD Reservation Calendar</h2>
      <p>Pick a date to reserve.  Each reservation costs 1 PTD token.</p>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

		<calendar-display :value="today">
		</calendar-display>
	

    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal>




</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>